@import "tailwindcss";

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-dark: #1C1C1C;
  --color-darker: #101010;
  --color-darkest: #000000;
  --color-grey: #808080;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
}